*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.projects{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
    background: black;
}
.cube{
    margin: 200px;
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform:rotateX(-30deg);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }

}
.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background: linear-gradient(black, #00ec00);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px); /* 300 / 2 = 150 */
}
.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
}
.top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background:#0f0;
    border: 14px solid black;
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
    0 0 200px rgba(0,255,0,0.4),
    0 0 300px rgba(0,255,0,0.6),
    0 0 400px rgba(0,255,0,0.8),
    0 0 500px rgba(0,255,0,1);
}



.cube1{
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform:rotateX(-30deg);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }

}
.cube1 div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube1 div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background: linear-gradient(black, #f309ad);
    transform: rotateY(calc(90deg * var(--i))) translateZ(50px); /* 300 / 2 = 150 */
}
.top1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: #222;
    transform: rotateX(90deg) translateZ(50px);
}
.top1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background:rgb(226, 21, 182);
    border: 14px solid black;
    transform: translateZ(-150px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(220, 42, 197, 0.2),
    0 0 200px rgba(220, 42, 197,0.4),
    0 0 300px rgba(220, 42, 197,0.6),
    0 0 400px rgba(220, 42, 197,0.8),
    0 0 500px rgba(220, 42, 197,1);
}




@media screen and (max-width: 1200px) {
    .cube{
        margin:10px;
        margin-top: 300px;
        position: relative;
        width: 100px;
        height: 100px;
        transform-style: preserve-3d;
        transform:rotateX(-30deg);
        animation: animate 4s linear infinite;
    }
    @keyframes animate{
        0%{
            transform: rotateX(-30deg) rotateY(0deg);
        }
        100%{
            transform: rotateX(-30deg) rotateY(360deg);
        }
    
    }
    .cube div{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
    }
    .cube div span{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid black;
        background: linear-gradient(black, #00ec00);
        transform: rotateY(calc(90deg * var(--i))) translateZ(50px); /* 300 / 2 = 150 */
    }
    .top{
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        background: #222;
        transform: rotateX(90deg) translateZ(50px);
    }
    .top::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 120px;
        height: 120px;
        background:#0f0;
        border: 14px solid black;
        transform: translateZ(-170px);
        filter: blur(17px);
        box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
        0 0 200px rgba(0,255,0,0.4),
        0 0 300px rgba(0,255,0,0.6),
        0 0 400px rgba(0,255,0,0.8),
        0 0 500px rgba(0,255,0,1);
    }


.cube1{
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform:rotateX(-30deg);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }

}
.cube1 div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube1 div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background: linear-gradient(black, #f309ad);
    transform: rotateY(calc(90deg * var(--i))) translateZ(50px); /* 300 / 2 = 150 */
}
.top1{
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    background: #222;
    transform: rotateX(90deg) translateZ(50px);
}
.top1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background:rgb(226, 21, 182);
    border: 14px solid black;
    transform: translateZ(-150px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(220, 42, 197, 0.2),
    0 0 200px rgba(220, 42, 197,0.4),
    0 0 300px rgba(220, 42, 197,0.6),
    0 0 400px rgba(220, 42, 197,0.8),
    0 0 500px rgba(220, 42, 197,1);
}
}




@media screen and (max-width: 750px) {
    .cube{
        margin:10px;
        margin-top: 300px;
        position: relative;
        width: 120px;
        height: 100px;
        transform-style: preserve-3d;
        transform:rotateX(-30deg);
        animation: animate 4s linear infinite;
    }
    @keyframes animate{
        0%{
            transform: rotateX(-30deg) rotateY(0deg);
        }
        100%{
            transform: rotateX(-30deg) rotateY(360deg);
        }
    
    }
    .cube div{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
    }
    .cube div span{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid black;
        background: linear-gradient(black, #00ec00);
        transform: rotateY(calc(90deg * var(--i))) translateZ(50px); /* 300 / 2 = 150 */
    }
    .top{
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        background: #222;
        transform: rotateX(90deg) translateZ(50px);
    }
    .top::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 120px;
        height: 120px;
        background:#0f0;
        border: 14px solid black;
        transform: translateZ(-170px);
        filter: blur(17px);
        box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
        0 0 200px rgba(0,255,0,0.4),
        0 0 300px rgba(0,255,0,0.6),
        0 0 400px rgba(0,255,0,0.8),
        0 0 500px rgba(0,255,0,1);
    }


    
.cube1{
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform:rotateX(-30deg);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }

}
.cube1 div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube1 div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background: linear-gradient(black, #f309ad);
    transform: rotateY(calc(90deg * var(--i))) translateZ(50px); /* 300 / 2 = 150 */
}
.top1{
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    background: #222;
    transform: rotateX(90deg) translateZ(50px);
}
.top1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background:rgb(226, 21, 182);
    border: 14px solid black;
    transform: translateZ(-150px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(220, 42, 197, 0.2),
    0 0 200px rgba(220, 42, 197,0.4),
    0 0 300px rgba(220, 42, 197,0.6),
    0 0 400px rgba(220, 42, 197,0.8),
    0 0 500px rgba(220, 42, 197,1);
}
}





/*-------------------------------------- this is for 2 page ---------------------------------------------------*/
.projects2{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
    background: black;
}
.cuben{
    margin: 200px;
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform:rotateX(-30deg);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }

}
.cuben div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cuben div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background: linear-gradient(black, #00c8ec);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px); /* 300 / 2 = 150 */
}
.topn{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
}
.topn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background:rgb(21, 232, 239);
    border: 14px solid black;
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(14, 187, 222, 0.2),
    0 0 200px rgba(14, 187, 222, 0.4),
    0 0 300px rgba(14, 187, 222, 0.6),
    0 0 400px rgba(14, 187, 222, 0.8),
    0 0 500px rgba(14, 187, 222, 1);
}

/* this is for 2 color of 2 page */
.cubem{
    margin: 200px;
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform:rotateX(-30deg);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }

}
.cubem div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cubem div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background: linear-gradient(black, #c7e807);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px); /* 300 / 2 = 150 */
}
.topm{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
}
.topm::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background:rgb(237, 219, 20);
    border: 14px solid black;
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(237, 219, 20, 0.2),
    0 0 200px rgba(237, 219, 20 , 0.4),
    0 0 300px rgba(237, 219, 20 , 0.6),
    0 0 400px rgba(237, 219, 20 , 0.8),
    0 0 500px rgba(237, 219, 20 , 1);
}



/* ----------------------------------------------------this is for responsiveness------------------------------------------------------ */
@media screen and (max-width: 1200px){
    .cuben{
        margin: 10px;
        margin-top: 150px;
        position: relative;
        width: 200px;
        height: 200px;
        transform-style: preserve-3d;
        transform:rotateX(-30deg);
        animation: animate 4s linear infinite;
    }
    @keyframes animate{
        0%{
            transform: rotateX(-30deg) rotateY(0deg);
        }
        100%{
            transform: rotateX(-30deg) rotateY(360deg);
        }
    
    }
    .cuben div{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
    }
    .cuben div span{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid black;
        background: linear-gradient(black, #00c8ec);
        transform: rotateY(calc(90deg * var(--i))) translateZ(100px); /* 300 / 2 = 150 */
    }
    .topn{
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
        height: 150px;
        background: #222;
        transform: rotateX(90deg) translateZ(100px);
    }
    .topn::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        background:rgb(21, 232, 239);
        border: 14px solid black;
        transform: translateZ(-300px);
        filter: blur(20px);
        box-shadow: 0 0 120px rgba(14, 187, 222, 0.2),
        0 0 200px rgba(14, 187, 222, 0.4),
        0 0 300px rgba(14, 187, 222, 0.6),
        0 0 400px rgba(14, 187, 222, 0.8),
        0 0 500px rgba(14, 187, 222, 1);
    }
    
    /* this is for 2 color of 2 page */
    .cubem{
        left:200px;
        margin-left: 100px;
        margin-top: 300px;
        position: relative;
        width: 200px;
        height: 200px;
        transform-style: preserve-3d;
        transform:rotateX(-30deg);
        animation: animate 4s linear infinite;
    }
    @keyframes animate{
        0%{
            transform: rotateX(-30deg) rotateY(0deg);
        }
        100%{
            transform: rotateX(-30deg) rotateY(360deg);
        }
    
    }
    .cubem div{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
    }
    .cubem div span{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid black;
        background: linear-gradient(black, #c7e807);
        transform: rotateY(calc(90deg * var(--i))) translateZ(100px); /* 300 / 2 = 150 */
    }
    .topm{
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        background: #222;
        transform: rotateX(90deg) translateZ(100px);
    }
    .topm::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        background:rgb(237, 219, 20);
        border: 14px solid black;
        transform: translateZ(-300px);
        filter: blur(20px);
        box-shadow: 0 0 120px rgba(237, 219, 20, 0.2),
        0 0 200px rgba(237, 219, 20 , 0.4),
        0 0 300px rgba(237, 219, 20 , 0.6),
        0 0 400px rgba(237, 219, 20 , 0.8),
        0 0 500px rgba(237, 219, 20 , 1);
    }
}



/*---------------------------------------------- this is for 3 page ------------------------------------------------------------*/
.projects3{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
    background: rgb(0, 0, 0);
}
.cube3{
    margin: 200px;
    position: relative;
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    transform:rotateX(-30deg);
    animation: animate2 10s linear infinite;
}
@keyframes animate2{
    0%{
        transform: rotateX(-30deg) rotateY(0deg) rotateZ(60);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg) rotateZ(360deg);
    }    
}
.cube3 div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube3 div span{
    filter: blur(-10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 20px solid black;
    background: #f30659;
    transform: rotateY(calc(90deg * var(--i))) translateZ(200px); /* 300 / 2 = 150 */
}
.top3{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background: #f30659;
    border: 20px solid black;
    transform: rotateX(90deg) translateZ(200px);
}
.top3::before{
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    width: 400px;
    height: 400px;
    background: #f30659;
    border: 20px solid black;
    transform: translateZ(-400px);
    /* filter: blur(20px);
    box-shadow: 0 0 120px rgba(14, 187, 222, 0.2),
    0 0 200px rgba(14, 187, 222, 0.4),
    0 0 300px rgba(14, 187, 222, 0.6),
    0 0 400px rgba(14, 187, 222, 0.8),
    0 0 500px rgba(14, 187, 222, 1); */
}